* {
    margin: 0;
    padding: 0;
}

#header-1 {
    margin: 20px 10px;
    /* position: absolute; */
    top: ;
    /* width: 100%; */
    
}

.header-left {
    
    margin:10px;
    text-decoration: none;
    color: rgb(104, 100, 100);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}


#header-2{
    position: absolute;
    top :0;
    right: 0;
}
.header-right {
    /* position:relative; */
    
    /* left: 1130px; */
    /* float: right; */
    
    margin-left: 15px;
    text-decoration: none;
    color: rgb(104, 100, 100);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

#appicon {
    position: relative;
    top: 7px;
}

#appicon-img {
    width: 25px;
    color: gray;
}

#sign-in {
    margin:15px 20px 0px 15px;
    background-color: dodgerblue;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 7px;
    width: 65px;
    font-family: Arial, Helvetica, sans-serif;
    ;
}

.google-logo {
    text-align: center;
    margin-top: 200px;
}

.form {
    text-align: center;
    margin-top: 9px;
    color: red;
}

#search-button {
    margin-left: 30px;
    padding: 8px;
    padding-left: 45px;
    width: 450px;
    border-radius: 20px;
    border: 1px solid gray;
    outline: none;
    text-decoration: none;
}




#search-icon {
    width: 28px;
    position: relative;
    right: 440px;
    top: 10px;
}

#microphone {
    width: 15px;
    position: relative;
    right: 75px;
    top: 5px;
}

.button {
    margin: 25px;
    text-decoration: none;
}

#google-search {
    margin-right: 5px;
    padding: 11px;
    color: gray;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    outline: none;
}

#feeling {
    padding: 11px;
    border: none;
}

#lucky {
    text-decoration: none;
    color: black;
    padding: 11px;
    color: gray;
}

.other-lang {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

footer {
    position: absolute;
    bottom: 0;
    background-color: rgba(149, 165, 166, 0.3);
    height: 89px;
    width: 100%;
    
}

.left-bottom {
    margin-left: 20px;
    text-decoration: none;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    ;
}

#right-bottom-position{
    position: absolute;
    right: 0;
    bottom: 12px;
}

.right-bottom {
    /* position: relative; */
    /* left: 1290px; */
    /* float: right; */
    margin-right: 20px;
    text-decoration: none;
    color: gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

#Turkey {
    padding: 12px;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    margin-left: 10px;
    font-size: 16px;
}

.footer-nav {
    margin-top: 15px;
}

hr {
    color: gray;
}